vti_encoding:SR|utf8-nl
vti_author:SR|THARAMPC\\tharam04
vti_modifiedby:SR|THARAMPC\\tharam04
vti_timelastmodified:TW|28 Feb 2011 23:51:34 -0000
vti_timecreated:TR|26 Feb 2011 22:17:22 -0000
vti_extenderversion:SR|12.0.0.6413
vti_backlinkinfo:VX|index.html
vti_nexttolasttimemodified:TW|28 Feb 2011 23:51:34 -0000
vti_syncofs_localhost\\d\:\\tharam04 documents\\college edumacation\\mis320_2011-01\\mis 320 assignment 6a/d\:/tharam04 documents/college edumacation/mis320_2011-01/mis 320 assignment 6a:TW|28 Feb 2011 23:51:34 -0000
vti_syncwith_localhost\\d\:\\tharam04 documents\\college edumacation\\mis320_2011-01\\mis 320 assignment 6a/d\:/tharam04 documents/college edumacation/mis320_2011-01/mis 320 assignment 6a:TW|28 Feb 2011 23:49:33 -0000
vti_cacheddtm:TX|28 Feb 2011 23:49:33 -0000
vti_filesize:IR|980
